# Ignore TextBooks and Non Submitted Homework directories
TextBooks/
Exams/

# Ignore binary files
*.exe
*.dll
*.so
*.o
*.bin
*.icloud

# Exception rules: Include .cpp, .h files and .gitignore
!*.cpp
!*.h
!.gitignore

#common document extensions (case insensitive)
**.[pP][dD][fF]
**.[dD][oO][cC]
**.[dD][oO][tT]
**.[dD][oO][cC][xX]
**.[dD][oO][cC][mM]
**.[dD][oO][tT][xX]
**.[dD][oO][tT][mM]
**.[dD][oO][cC][bB]
**.[pP][pP][tT][xX]
**.[pP][pP][tT][mM]
**.[pP][oO][tT][xX]
**.[pP][oO][tT][mM]
**.[pP][pP][aA][mM]
**.[pP][pP][sS][xX]
**.[pP][pP][sS][mM]
**.[sS][lL][dD][xX]
**.[sS][lL][dD][mM]
**.[pP][pP][tT]
**.[pP][oO][tT]
**.[pP][pP][sS]
**.[xX][lL][sS][bB]
**.[xX][lL][aA]
**.[xX][lL][aA][mM]
**.[xX][lL][lL]
**.[xX][lL][wW]
**.[xX][lL][sS]
**.[xX][lL][sS][xX]
**.[xX][lL][tT]
**.[xX][lL][mM]

#common image extensions (case insensitive)
**.[tT][iI][fF]
**.[tT][iI][fF][fF]
**.[gG][iI][fF]
**.[jJ][pP][eE][gG]
**.[jJ][pP][gG]
**.[jJ][iI][fF]
**.[jJ][fF][iI][fF]
**.[jJ][pP]2
**.[jJ][pP][xX]
**.[jJ]2[kK]
**.[jJ]2[cC]
**.[fF][pP][xX]
**.[pP][cC][dD]
**.[pP][nN][gG]
**.[pP][sS][dD]
**.[xX][cC][fF]