# Ignore TextBooks and Non Submitted Homework directories
TextBooks/
Exams/

# Ignore binary files
*.exe
*.dll
*.so
*.o
*.bin
*.icloud

# Exception rules: Include .cpp, .h files and .gitignore
!*.pdf
!*.cpp
!*.h
!.gitignore
